/src/.buildpath
/src/.cache
/src/.metadata
/src/.project
/src/.settings
/src/.vscode
/src/atlassian*
/src/nbproject
/src/sitemap
/src/sitemap.xml
/src/pub/sitemap
/src/pub/sitemap.xml
/src/app/config_sandbox
/src/node_modules
/src/.grunt
/src/.php_cs
/src/.php_cs.cache
/src/app/etc/env.php
/src/pub/media/*.*
!/src/pub/media/.htaccess
/src/pub/media/attribute/*
!/src/pub/media/attribute/.htaccess
/src/pub/media/analytics/*
/src/pub/media/catalog/*
!/src/pub/media/catalog/.htaccess
/src/pub/media/customer/*
!/src/pub/media/customer/.htaccess
/src/pub/media/downloadable/*
!/src/pub/media/downloadable/.htaccess
/src/pub/media/favicon/*
/src/pub/media/import/*
!/src/pub/media/import/.htaccess
/src/pub/media/logo/*
/src/pub/media/custom_options/*
!/src/pub/media/custom_options/.htaccess
/src/pub/media/theme/*
/src/pub/media/theme_customization/*
!/src/pub/media/theme_customization/.htaccess
/src/pub/media/wysiwyg/*
!/src/pub/media/wysiwyg/.htaccess
/src/pub/media/tmp/*
!/src/pub/media/tmp/.htaccess
/src/pub/media/captcha/*
/src/pub/static/*
!/src/pub/static/.htaccess
/src/var/*
!/src/var/.htaccess
/src/vendor/*
!/src/vendor/.htaccess
/src/generated/*
!/src/generated/.htaccess