dist: trusty
language: go

go:
  - 1.13.x

os:
  - linux

addons:
  apt:
    packages:
      - docker-ce

services:
  - docker

before_script:
  - go get -t ./...

script:
  - travis_wait go test -p 1 ./test